.Solution{
    margin: 100px 100px 0 100px;
    h1{
        color: white;
        font-size: 58px;
    }
    .SolutionList{
        margin: 60px 0 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .muiIcon{
            color: white;
            background-color: #141414;
            border-radius: 30px;
            width: 60px !important;
            height: 60px;
            padding: 15px;
        }
        .List{
            display: flex;
            gap: 20px;
            padding: 50px 0 0 0;
            div{
                color: white;
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 14px
                }
            }
        }
    }
}