.Contact{
    margin: 60px 50px 0 50px;
    background-color: #242424;
    color: white;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    gap: 30px;
    .ContactText{
        width: 50%;
        h1{
            font-size: 32px;
            font-weight: 600;
        }
        ul{
            list-style-type: none;
            padding: 0;
            margin: 20px 0 0 0;
            li{
                display: flex;
                gap: 10px;
                padding: 10px 0 0 0;
                p{
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
    .ContactForm {
        width: 50%;
        form {
            .form-control {
                width: 100%;
                background-color: #242424;
                border-radius: 15x;
                color: white;
                padding: 15px 20px;
                border-color: gray;
                margin: 20px 0 10px 0;
            }
            .form-control::placeholder{
                color: gray;
            }
            .form-control:focus{
                box-shadow: none !important;
            }
            .form-check{
                margin: 30px 0 0 0;

            }
            .Button{
                width: 100%;
                padding: 10px 0;
                margin: 30px 0 0 0;
            }
        }
    }

    @media (max-width: 1024px){
        .ContactText{
            h1{
                font-size: 30px;
            }
        }
    }

    @media (max-width: 768px){
        display: grid;
        .ContactText{
            width: 100%;
            h1{
                font-size: 26px;
            }
            ul{
                li{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }

        .ContactForm {
            width: 100%;
        }
    }

    @media (max-width: 476px){
        margin: 50px 20px 0 20px;
        padding: 20px;
        .ContactText{
            ul{
                li{
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @media (max-width: 376px){
        .ContactText{
            h1{
                font-size: 20px;
            }
        }
    }

    @media (max-width: 320px){
        .ContactText{
            h1{
                font-size: 18px;
            }
            ul{
                li{
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.Container{
    margin: 60px 50px 0 50px;
    background-color: #141414;
    color: white;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    gap: 100px;
    text-align: left;
    img{
        height: 370px;
        width: 470px;
    }
    .ContainerText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            font-weight: 600;
            font-size: 30px
        }
    }

    @media (max-width: 1024px){
        .ContainerText {
            h1{
                font-size: 26px;
            }
        }
    }

    @media (max-width: 769px){
        gap: 20px;
        flex-direction: column-reverse;
        text-align: center;
        img{
            height: 270px;
            width: 340px;
        }
        .ContainerText {
            h1{
                font-size: 22px;
            }
        }
    }

    @media (max-width: 426px){
        margin: 50px 20px 0 20px;
        padding: 20px;
    }

    @media (max-width: 376px){
        img{
            height: 240px;
            width: 300px;
        }
    }

    @media (max-width: 376px){
        img{
            height: 240px;
            width: 240px;
        }
    }
}