.Footer{
    .FooterTop{
        margin: 100px 0 0 0;
        padding: 40px 100px 0 100px;
        color: white;
        background-color: #141414;
        display: flex;
        justify-content: space-between;    
        .Top{
            .LogoImage{
                width: 144px;
                height: 61px;
                object-fit: cover;
            }
            p{
                color: gray;
                margin: 10px 0 0 0;
                font-size: 14px;
            }
        }
        .ShortLinks{
            display: flex;
            justify-content: space-between;
            gap: 100px;
            .Primary{
                h3{
                    font-size: 18px;
                }
                .NavLinks{
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 -15px;
                    .nav-link{
                        color: gray;
                    }
                }
            }
            .Support{
                h3{
                    font-size: 18px;
                }
                .NavLinks{
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 0 -15px;
                    .nav-link{
                        color: gray;
                    }
                }
            }
        }
    }
    .FooterBottom{
        display: flex;
        justify-content: space-between;
        padding: 20px 100px 10px 100px;
        color: gray;
        background-color: #141414;
        #NavSocials{
            display: flex;
            flex-direction: row;
        }
        .BottomText{
            display: flex;
            justify-content: space-between;
            gap: 40px;
            h5{
                font-weight: 100;
                font-size: 16px
            }
            p{
                font-weight: 100;
            }
        }
    }

    @media (max-width: 768px){
        .FooterTop{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            padding: 40px 50px 0 50px;
            gap: 20px;
            .ShortLinks{
                gap: 0px;
            }
        }
        .FooterBottom{
            padding: 40px 50px 0 50px;
        }
    }

    @media (max-width: 426px){
        .FooterTop{
            padding: 40px 20px 0 20px;
            .ShortLinks{
                gap: 0px;
                width: 300px
            }
        }
        .FooterBottom{
            padding: 20px 20px 0 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            #NavSocials{
               padding: 0 0 10px 0;
            }
            .BottomText{
                gap: 20px;
                h5{
                    font-size: 14px
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }

    @media (max-width: 376px){
        .FooterBottom{
            .BottomText{
                gap: 5px;
                display: flex;
                flex-direction: column-reverse;
                h5{
                    font-size: 14px
                }
                p{
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }

    @media (max-width: 320px){
        .FooterTop{
            .ShortLinks{
                width: 250px
            }
        }
    }
}