.HomeHero {
    display: flex;
    justify-content: space-between;
    margin: 40px 100px 0 100px;
    gap: 10px;
    .HomeHero_Text{
        margin: 50px 0 0 0;
        h1{
            color: white;
            font-size: 44px;
            font-weight: 600;
        }
        p{
            color: white;
            margin: 15px 0 0 0;
        }
        ul{
            list-style-type: none;
            padding: 0;
            color: white;
            margin: 10px 0 0 0;
            li{
                display: flex;
                gap: 10px;
                padding: 10px 0 ;
                p{
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0;
                }
            }
        }
        .AuthButton{
            margin: 20px 0 0 0;
            display: flex;
            gap: 20px;
            .Button{
                padding: 10px 100px;
            }
        }
    }

    @media (max-width: 1024px) {
        margin: 40px 50px 0 50px;
        .HomeHero_Text{
            margin: 50px 0 0 0;
            h1{
                font-size: 30px;
            }
            p{
               font-size: 14px;
            }
            .AuthButton{
                gap: 10px;
                margin: 50px 0 0 0;
                .Button{
                    padding: 10px 50px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        margin: 40px 50px 0 50px;
        img{
            display: none;
        }
        .HomeHero_Text{
            h1{
                font-size: 30px;
            }
            p{
               font-size: 14px;
            }        
        }
    }

    @media (max-width: 426px) {
        margin: 10px 20px 0 20px !important;        
        .HomeHero_Text{
            h1{
                font-size: 22px !important;
            }
            p{
                font-size: 10px;
            }
            .AuthButton{
                .Button{
                    padding: 10px 30px !important;
                }
            }            
        }
    }

    @media (max-width: 376px) {   
        .HomeHero_Text{
            p {
                font-size: 8px !important;
            }                    
        }
    }

    @media (max-width: 321px) {
        margin: 5px 20px 0 20px !important;        
        .HomeHero_Text{
            h1{
                font-size: 18px !important;
            }
            .AuthButton{
                .Button{
                    padding: 6px 20px !important;
                }
            }            
        }
    }
}

.BusinessHero{
    height: 75vh;
    margin: 60px 0 0 0;
    color: white;
    .BusinessHero_Text{
        text-align: center;
        p {
            font-weight: 600;
            padding: 20px 0;
        }
        h1 {
            font-size: 50px;
            font-weight: 700;
        }
        .AuthButton{
            margin: 20px 0 0 0;
            display: flex;
            justify-content: center;
            gap: 20px;
            .Button{
                padding: 10px 100px;
            }
        }
    }

    @media (max-width: 1024px) {
        margin: 40px 50px 0 50px;
        .BusinessHero_Text{
            margin: 50px 0 0 0;
            h1{
                font-size: 40px;
            }
            p{
               font-size: 14px;
            }
            .AuthButton{
                margin: 50px 0 0 0;
                .Button{
                    padding: 10px 50px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .BusinessHero_Text{
            h1{
                font-size: 30px;
            }     
        }
    }

    @media (max-width: 426px) {
        margin: 10px 20px 0 20px !important;        
        .BusinessHero_Text{
            h1{
                font-size: 20px !important;
            }
            p{
                font-size: 9px !important;
            }
            .AuthButton{
                .Button{
                    padding: 10px 30px !important;
                }
            }            
        }
    }

    @media (max-width: 376px) {   
        .BusinessHero_Text{
            h1{
                font-size: 18px !important;
            }
            p {
                font-size: 8px !important;
            }                    
        }
    }

    @media (max-width: 321px) {
        margin: 5px 20px 0 20px !important;        
        .BusinessHero_Text{
            h1{
                font-size: 15px !important;
            }
            .AuthButton{
                .Button{
                    padding: 6px 20px !important;
                }
            }            
        }
    }
}