.Mushee{
    margin: 100px 20px 0 20px;
    .Container{
        display: flex;
        justify-content: space-between;
        .AffiliateCard{
            width: 50%;
            background-color: #141414;
            color: white;
            padding: 10px !important;
            border-radius: 30px;
            line-height: 30px;
            z-index: 1;
            h2{
                font-weight: 600;
                font-size: 30px;
            }
            p {
                color: gray;
            }
            .Button{
                margin: 40% 0 0 0;
                padding: 10px 25px;
            }
        }
        .Service{
            width: 50%;
            background-color: #242424;
            margin: 0 0 0 -40px;
            color: white;
            padding: 40px !important;
            border-radius: 30px;
            line-height: 30px;
            p {
                color: gray
            }
            h2{
                font-weight: 600;
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 30px 0 0 0;
                li{
                    display: flex;
                    gap: 10px;
                    p{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            .AuthButton{
                margin: 40px  0 0 0;
                .Button{
                    margin: 0 10px;
                    padding: 10px 30px;
                    transition: 1s;
                }
                .Button:hover {
                    padding: 15px 35px;
                }
            }
        }
    }

    @media (max-width: 1024px){
        .Container{
            .AffiliateCard{
                h2{
                font-size: 22px !important;
                }
            }
            .Service{
                .AuthButton{                
                    .Button{
                        margin: 0 10px;
                        padding: 5px 20px;
                        transition: 1s;
                    }
                    .Button:hover {
                        padding: 10px 25px;
                    }
                }
            }
        }
    }

    @media (max-width: 769px){
        .Container{
            flex-direction:column;

            .Service{
                margin: 0 !important;
                .AuthButton{
                    .Button{                      
                        padding: 10px 30px; 
                        margin: 10px !important;                       
                    }
                    .Button:hover {
                        padding: 15px 35px;
                    }
                }
            }
        }
    }

    @media (max-width: 426px){
        margin: 100px 10px 0 10px;
        .Container{
            .AffiliateCard{
                h2{
                font-size: 20px !important;
                }
                p{
                    font-size: 14px;
                }
            }
            .Service{
                p {
                    font-size: 12px;
                }
                h2{
                    font-size: 20px;
                }
                ul{
                    li{
                        p{
                            font-size: 12px;
                        }
                    }
                }
                .AuthButton{
                    margin: 40px  0 0 0;
                    .Button{
                        margin: 0 10px;
                        padding: 10px 30px;
                        transition: 1s;
                    }
                    .Button:hover {
                        padding: 15px 35px;
                    }
                }
            }
        }
    }
}