.Plans{
    margin: 100px 100px 0 100px;
    h1{
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 40px;
    }
    h5{
        color: white;
        text-align: center;
        font-size: 16px;
        font-weight: 100;
    }
    .Container{
        display: flex;
        justify-content: space-between;
        margin: 100px 0 0 0;
        transition: 2s;
        .AfterPresale{
            background-color: #141414;
            color: white;
            padding: 30px !important;
            border-radius: 30px;
            line-height: 30px;
            z-index: 1;
            h2{
                font-weight: 600;
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 40px 0 0 0;
                li{
                    display: flex;
                    gap: 10px;
                    p{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                .More{
                    border-radius: 50px ;
                    padding: 1px 16px;
                    font-size: 12px;
                }
            }
            .Button{
                margin: 40px 0 0 0;
                padding: 10px 25px;
            }
        }
        .BeforePresale{
            background-color: #242424;
            margin: 0 0 0 -30px;
            color: white;
            padding: 40px !important;
            border-radius: 30px;
            line-height: 30px;
            h2{
                font-weight: 600;
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 40px 0 0 0;
                li{
                    display: flex;
                    gap: 10px;
                    p{
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
            .Button{
                margin: 80px 0 0 0;
                padding: 10px 25px;
            }
        }
    }

    @media (max-width: 1024px) {
        margin: 50px;

        h1 {
          font-size: 32px;
        }
    
        h5 {
          font-size: 14px;
        }
    
        .Container {
          margin-top: 50px;
    
          .AfterPresale,
          .BeforePresale {
            margin: 0;
            width: 100%;
          }
    
          .AfterPresale {
            margin-bottom: 50px;
            padding: 20px !important;
            h2{
                font-size: 28px;
            }
          }
        }
    }

    @media (max-width: 769px) {
        h1 {
          font-size: 36px;
        }
    
        h5 {
          font-size: 13px;
        }
    
        .Container {    
          .AfterPresale {
            margin-bottom: 30px;
            padding: 0 !important;
            h2{
                font-size: 16px;
            }
            ul{
                li{
                    p{
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
          }

          .BeforePresale {
            margin-bottom: 50px;
            h2{
                font-size: 16px;
            }
            ul{
                li{
                    p{
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
          }
        }
    }

    @media (max-width: 426px) {
        margin: 50px 20px 0 20px;
        h1 {
          font-size: 30px;
        }
    
        h5 {
          font-size: 12px;
        }
    
        .Container {
            display: flex;
            flex-direction: column;
            padding: 20px !important;   
          .AfterPresale {
            margin: 20px 0;
            h2{
                font-size: 16px;
            }
            ul{
                li{
                    p{
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
          }

          .BeforePresale {
            margin: 20px 0;
            padding: 20px !important;
            h2{
                font-size: 16px;
            }
            ul{
                li{
                    p{
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
          }
        }
    }

    @media (max-width: 376px) {
        h1 {
            font-size: 25px;
        }

        h5 {
            font-size: 10px;
        }
    }
}

.CryptoForBusiness {
    margin: 80px 80px 0 80px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        font-size: 48px;
        font-weight: 600;
        margin: 20px 0 40px 0;
    }
    .Card {
        display: flex;
        gap: 20px;
        justify-content: center;
        .CryptoForBusinessCard{
            border-radius: 30px;
            background-color: #242424;
            padding: 40px 20px 10px 20px;
            h2{
                margin: 50px 0 10px 0;
                font-size: 20px;
            }
            p{
                font-size: 14px;
            }
        }
    }

    @media (max-width: 769px) {
        margin: 60px 40px 0 40px;
        h2 {
            font-size: 38px;
        }
        .Card {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
            gap: 20px;
            justify-content: center;
            .CryptoForBusinessCard{
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }

    @media (max-width: 426px) {
        h2 {
            font-size: 30px;
        }
    }

    @media (max-width: 376px) {
        h2 {
            font-size: 20px;
        }

        .Card {
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        }
    }
}