.PresaleCard{
    margin: 100px 20px 0 20px;
    .Container{
        display: flex;
        justify-content: space-between;
        .TokenSaleCard{
            width: 50%;
            background-color: #141414;
            color: white;
            padding: 10px !important;
            border-radius: 30px;
            line-height: 30px;
            z-index: 1;
            h2{
                font-weight: 600;
                font-size: 30px;
            }
            p {
                color: gray;
            }
            form {
                margin: 20% 0 0 0;
                #TokenPrice {
                    width: 100%;
                    background-color: #242424;
                    border-radius: 10px;
                    border: 1px solid grey;
                    color: white;
                    padding: 10px 15px;
                    margin: 0 0 10px 0;
                    text-align: center;
                }

                #TokenPrice::placeholder{
                    color: gray;
                }
                .Button{
                    width: 100%;
                    margin: 10% 0 0 0;
                    padding: 10px 25px;
                }
            }   
        }
        .Referral{
            width: 50%;
            background-color: #242424;
            margin: 0 0 0 -40px;
            color: white;
            padding: 40px !important;
            border-radius: 30px;
            line-height: 30px;
            p {
                color: gray
            }
            h2{
                font-weight: 600;
            }
            form {
                margin: 10% 0 0 0;
                #address {
                    width: 100%;
                    background-color: #242424;
                    border-radius: 10px;
                    border: 1px solid grey;
                    color: white;
                    padding: 10px 15px;
                    margin: 20px 0 10px 0;
                    text-align: center;
                }

                #address ::placeholder{
                    color: gray;
                }
                .Button{
                    width: 100%;
                    margin: 10% 0 0 0;
                    padding: 10px 25px;
                }
                p{
                    cursor: pointer;
                    margin: 20px 0 0 0;
                    text-align: center;
                    border: 1px solid white;
                    width: 30%;
                    border-radius: 20px;
                    padding:  5px 10px;
                    font-size: 18px;
                }
            } 
        }
    }

    @media (max-width: 1024px){
        .Container{
            .TokenSaleCard{
                h2{
                font-size: 22px !important;
                }
            }
        }
    }

    @media (max-width: 769px){
        .Container{
            flex-direction:column;

            .TokenSaleCard{
                width: 100% !important;
                margin: 0 !important;
            }

            .Referral{
                width: 100%;
                margin: 0 !important;
            }
        }
    }

    @media (max-width: 426px){
        margin: 100px 10px 0 10px;
        .Container{
            .TokenSaleCard{
                h2{
                font-size: 20px !important;
                }
                p{
                    font-size: 14px;
                }
            }
            .Referral{
                p {
                    font-size: 12px;
                }
                h2{
                    font-size: 20px;
                }
                form {
                    #address  {
                        font-size: 10px;
                    }
                    .Button{
                        font-size: 10px;
                    }
                    p{
                        font-size: 10px;
                    }
                } 
            }
        }
    }
}